@layer {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
  }

  input, button, textarea, select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: currentColor;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  }

  p {
    text-wrap: pretty;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  ol, ul {
    list-style: none;
  }

  table {
	  border-collapse: collapse;
	  border-spacing: 0;
  }
}
