@layer variables {

    :root {
        /* Font Family */
        --font-stack-sans-serif: ui-sans-serif, system-ui, sans-serif;
        --font-stack-serif: ui-serif, Times, Georgia, serif;
        --font-stack-mono: ui-monospace, "Lucida Console", Courier, monospace;
        --font-family-heading: var(--font-stack-sans-serif);
        --font-family-body: var(--font-stack-sans-serif);
        --font-family-mono: var(--font-stack-mono);
        
        /* Font Size */
        --fs-n2: 0.8333rem;
        --fs-n1: 1rem;
        --fs-1: 1.25rem ;
        --fs-2: 1.5rem;
        --fs-3: 1.8rem;
        --fs-4: 2.15rem;
        --fs-5: 2.6rem;
        --fs-6: 3.1rem;
        --fs-7: 3.735rem;
        --fs-7: 4.482rem;
        --fs-8: 5.3784rem;
        --fs-9: 6.4541rem;

        /* Colors */
        --color-primary: #0f0;
        --color-accent: #00f;
        --bg-color: #fff;
        --bg-color-light: #ddd;
        --bg-color-full: #000;
        --font-color-headning: #000;
        --font-color-body: #000;
    }

    .dark-mode {
        color-scheme: dark;
        --primary: #212121;
        --on-primary: ;
        --primary-container:;
        --s
        --bg-color-light: #757575;
        --bg-color-full: #4d4d4d;
    }
    
    .light-mode {
        color-scheme: light;
        
    }

    .
}
